<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>tasskDetail</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>

        <ion-item>
            <ion-label position="stacked">Estat</ion-label>
            <ion-input type="text" [(ngModel)]="tasca.status"></ion-input>
        </ion-item>


        <ion-item>
            <ion-label position="stacked">Marca</ion-label>
            <ion-input type="text" [(ngModel)]="tasca.marca"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Descripció</ion-label>
            <ion-input type="text" [(ngModel)]="tasca.desc"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Accions realitzades</ion-label>
            <ion-textarea [(ngModel)]="tasca.accions"></ion-textarea>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Data d'inici</ion-label>
            <ion-input type="text" [(ngModel)]="tasca.start_date"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Data finalització</ion-label>
            <ion-input type="text" [(ngModel)]="tasca.end_date"></ion-input>
        </ion-item>
    </ion-list>


</ion-content>