<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Detalls de la tasca</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>

        <ion-item>
            <ion-label position="stacked">Id</ion-label>
            <ion-input type="text" [(ngModel)]="tasca.id_tasca"></ion-input>
        </ion-item>


        <ion-item>
            <ion-label position="stacked">Tipus consulta</ion-label>
            <ion-select interface="popover" [(ngModel)]="id_consulta">
                <ion-select-option *ngFor="let statu of status; let i = index" value={{statu.id_status}}>{{statu.desc}}</ion-select-option>
            </ion-select>
        </ion-item>


        <ion-item>
            <ion-label position="stacked">Marca</ion-label>
            <ion-input type="text" [(ngModel)]="tasca.marca"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Descripció</ion-label>
            <ion-textarea [(ngModel)]="tasca.desc"></ion-textarea>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Accions realitzades</ion-label>
            <ion-textarea [(ngModel)]="tasca.accions">{{tasca.accions}}</ion-textarea>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Data d'inici</ion-label>
            <ion-input type="text" [(ngModel)]="tasca.start_date" readonly></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Data finalització</ion-label>
            <ion-input type="date" [(ngModel)]="tasca.end_date"></ion-input>
        </ion-item>
    </ion-list>
    <ion-button (click)='updateTask()'>Envia</ion-button>



</ion-content>