<ion-header>
  <ion-toolbar>
    <ion-title>contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<form>
  <ion-item>
    <ion-label>Nom</ion-label>
    <ion-input type="text" formControlName="username"></ion-input>
  </ion-item>
  <ion-item>
    <ion-item>
      <ion-label>Correu electronic</ion-label>
      <ion-input type="text" formControlName="mail"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Assumpte</ion-label>
      <ion-input type="text" formControlName="assumpte"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Contingut</ion-label>
      <ion-textarea formControlName="cotent" placeholder="Inserta la teva consulta..."></ion-textarea>
    </ion-item>


    <ion-item>
      <ion-label>Tipus consulta</ion-label>
          <ion-select interface="popover">
            <ion-select-option value="Solicitar nova reparació"></ion-select-option>
            <ion-select-option value="Problemes amb la visualització de les incidencies"></ion-select-option>
            <ion-select-option value="Solicitar una reunió"></ion-select-option>
          </ion-select>
    </ion-item>


  <ion-button type="submit" [disabled]="!loginForm.valid">Submit</ion-button>
</form>
</ion-content>
