<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-text>Una empresa dedicada a la reparació d’equips informàtics per a centres educatius,
          demana disposar d’una plataforma per gestionar totes les seves reparacions. Som una empresa amb anys d'experiència que compta amb grans professionals
          en el sector de la informática, especialitzats en hardware i reparació d'equips. Ho podeu comprobar amb els projoectes que es mostren en la pagina principal.
      </ion-text>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-grid>


  <ion-row>
    <ion-item>
      <ion-label>
        <h2>2008</h2>
        <h3>Creació de la empresa</h3>
        <p>Creació de la nostra empresa. Al igual que altres empreses varem començar en un petit garatge.</p>
      </ion-label>
    </ion-item>
  </ion-row>

  <ion-row>
    <ion-item>
      <ion-label>
        <h2>2012</h2>
        <h3>Canvi d'oficina</h3>
        <p>Ens varem traslladar al viver de empreses situat al costat del centra educatiu Caparrella.</p>
      </ion-label>
    </ion-item>
  </ion-row>


  <ion-row>
    <ion-item>
      <ion-label>
        <h2>2015</h2>
        <h3>Contracte amb la generalitat</h3>
        <p>Aquest any va ser molt important, ja que a partir de un contracte amb la generalitat, ens va coneixer i ficar en contacte amb nosaltres moltes persones y entitats que estaben interesades.</p>
      </ion-label>
    </ion-item>
  </ion-row>

  <ion-row>
    <ion-item>
      <ion-label>
        <h2>2018</h2>
        <h3>Donació de ordinadors per part de l'Hospital Arnau</h3>
        <p>L'Hospital Arnau de Vilanova de Lleida donarà pròximament al Pont Solidari de Banc de Recursos 150 ordinadors que ja no s'utilitzaven perquè puguin ser reaprofitats per entitats socials i ONG necessitades.</p>
      </ion-label>
    </ion-item>
  </ion-row>

  <ion-row>
    <ion-item>
      <ion-label>
        <h2>2019</h2>
        <h3>Projecte de mooding</h3>
        <p>Inici de realització de projectes de modding a petició del client.</p>
      </ion-label>
    </ion-item>
  </ion-row>


</ion-grid>
</ion-content>
