<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>About</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row *ngFor="let item of about; let i = index">
            <ion-col>
                <ion-card *ngFor="let new of news; let i = index">
                    <ion-img [src]="new.image"></ion-img>
                    <ion-card-header>
                        <ion-card-title>{{item.titol}}</ion-card-title>
                        <ion-card-subtitle>{{new.date}}</ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>{{item.content}}</ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>


        <ion-row>
            <ion-col>
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>Creació de la empresa</ion-card-title>
                        <ion-card-subtitle>2008</ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>
                        Creació de la nostra empresa. Al igual que altres empreses varem començar en un petit garatge.
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>Canvi d'oficina</ion-card-title>
                        <ion-card-subtitle>2012</ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>Ens varem traslladar al viver de empreses situat al costat del centra educatiu Caparrella.</ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>


        <ion-row>
            <ion-col>
                <ion-card>
                    <ion-card-header>

                        <ion-card-title>Contracte amb la generalitat</ion-card-title>
                        <ion-card-subtitle>2015</ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>Aquest any va ser molt important, ja que a partir de un contracte amb la generalitat, ens va coneixer i ficar en contacte amb nosaltres moltes persones y entitats que estaben interesades.</ion-card-content>

                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-card>
                <ion-card-header>
                    <ion-card-title>Donació de ordinadors per part de l'Hospital Arnau</ion-card-title>
                    <ion-card-subtitle>2018</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>L'Hospital Arnau de Vilanova de Lleida donarà pròximament al Pont Solidari de Banc de Recursos 150 ordinadors que ja no s'utilitzaven perquè puguin ser reaprofitats per entitats socials i ONG necessitades.</ion-card-content>
            </ion-card>
        </ion-row>

        <ion-row>
            <ion-card>
                <ion-card-header>
                    <ion-card-title>Projecte de mooding</ion-card-title>
                    <ion-card-subtitle>2019</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>Inici de realització de projectes de modding a petició del client.</ion-card-content>
            </ion-card>
        </ion-row>


    </ion-grid>
</ion-content>