<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>About</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-card *ngFor="let item of about; let i = index">
                    <ion-card-header>
                        <ion-card-title [innerHTML]="item.titol"></ion-card-title>
                        <ion-card-subtitle [innerHTML]="item.date"></ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content [innerHTML]="item.content"></ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>