<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Les meves tasques</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar [(ngModel)]="searchTasca"></ion-searchbar>
    <ion-list>
        <div *ngFor="let tasca of tasques">

            <ion-item (click)='view_tasca(tasca.id_tasca)' class="ion-activatable ripple-parent" *ngIf="filterTasca(tasca)">
                <ion-label [innerHTML]="tasca.marca"></ion-label>
                <ion-label [innerHTML]="tasca.desc"></ion-label>
                <ion-ripple-effect></ion-ripple-effect>
                <ion-icon name="create-outline" color="primary"></ion-icon>

            </ion-item>
        </div>

    </ion-list>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadNewData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>