<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>user-view</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item-divider>
        <ion-label>Nom d'usuari</ion-label>
    </ion-item-divider>

    <ion-item lines="none">
        <ion-label>Brianna</ion-label>
    </ion-item>
    <ion-item-divider>
        <ion-label>Correu electronic</ion-label>
    </ion-item-divider>

    <ion-item lines="none">
        <ion-label>infoUser.email</ion-label>
    </ion-item>
    <ion-item-divider>
        <ion-label>Companya</ion-label>
    </ion-item-divider>

    <ion-item lines="none">
        <ion-label>Brianna</ion-label>
    </ion-item>
    <ion-item-divider>
        <ion-label>Telefon</ion-label>
    </ion-item-divider>

    <ion-item lines="none">
        <ion-label>Brianna</ion-label>
    </ion-item>
    <ion-item-divider>
        <ion-label>Ciutat</ion-label>
    </ion-item-divider>

    <ion-item lines="none">
        <ion-label>Brianna</ion-label>
    </ion-item>
</ion-content>