<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>contact</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item>
        <ion-label position="stacked">Nom</ion-label>
        <ion-input type="text" ([ngModel])="username"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="stacked">Correu electronic</ion-label>
        <ion-input type="text" ([ngModel])="mail"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="stacked">Assumpte</ion-label>
        <ion-input type="text" ([ngModel])="assumpte"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="stacked">Contingut</ion-label>
        <ion-textarea ([ngModel])="cotent" placeholder="Inserta la teva consulta..."></ion-textarea>
    </ion-item>


    <ion-item>
        <ion-label position="stacked">Tipus consulta</ion-label>
        <ion-select interface="popover">
            <ion-select-option value="">Solicitar nova reparació</ion-select-option>
            <ion-select-option value="">Problemes amb la visualització de les incidencies</ion-select-option>
            <ion-select-option value="">Solicitar una reunió</ion-select-option>
        </ion-select>
    </ion-item>


    <ion-button>Submit</ion-button>

    <ion-item>
        <ion-label position="stacked">On trobarn-nos</ion-label>
        <iframe id="contentMap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2109.8061915993235!2d0.5823671224248058!3d41.597014830046355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a72021d046cd1d%3A0x96462cdd6272567a!2sIES%20CAPARRELLA!5e0!3m2!1ses!2ses!4v1618500024616!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </ion-item>
</ion-content>