<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Detalls de la noticia</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-card>
                    <ion-img [src]="new.image"></ion-img>
                    <ion-card-header>
                        <ion-card-title [innerHTML]='new.title'></ion-card-title>
                        <ion-card-subtitle [innerHTML]='new.date'></ion-card-subtitle>
                        <ion-card-content [innerHTML]='new.content'> </ion-card-content>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>